<!DOCTYPE html>
<html>
    <head>
        <title>Player Stats</title>
        <link href="/static/css/players.css" rel="stylesheet" type="text/css" media="all">
     </head>

    <br>
    <style>table, th ,td {border:1px solid black}</style>
    <body>
        {% if player %}
        <header>
            <h1>Player Stats for {{player}}</h1>
        </header>
        <img class="img" src={{player_photo}}>
        <table>
            <tr>
                <th>Week</th>
                <th>Standard Score</th>
                <th>Team</th>
                <th>Opponent</th>
                <th>Passes Completed</th> 
                <th>Passes Attempted</th>
                <th>Passing Yards</th>
                <th>Passing TDs</th>
                <th>Passes Intercepted</th>
                <th>Longest Completion</th>
                <th>Passer Rating</th>
                <th>Rushing Attempts</th>
                <th>Rushing Yards</th>
                <th>Rushing TDs</th>
                <th>Longest Rush</th>
                <th>Targets</th>
                <th>Receptions</th>
                <th>Receiving Yards</th>
                <th>Receiving TDs</th>
                <th>Longest Reception</th>
                <th>Fumbles Lost</th>
                <th>Two Point Conversions</th>
                <th>Total Return TDs</th>
            </tr>
            {% for week in weeks: %}
                <tr>
                    <td>{{week.get_week()}}</td>
                    <td>{{week.week_standard_score()}}</td>
                    <td>{{week.get_Team_abbrev()}}</td>
                    <td>{{week.get_Opponent_abbrev()}}</td>
                    <td>{{week.get_pass_cmp()}}</td>
                    <td>{{week.get_pass_att()}}</td>
                    <td>{{week.get_pass_yds()}}</td>
                    <td>{{week.get_pass_td()}}</td>
                    <td>{{week.get_pass_int()}}</td>
                    <td>{{week.get_pass_long()}}</td>
                    <td>{{week.get_pass_rating()}}</td>
                    <td>{{week.get_rush_att()}}</td>
                    <td>{{week.get_rush_yds()}}</td>
                    <td>{{week.get_rush_td()}}</td>
                    <td>{{week.get_rush_long()}}</td>
                    <td>{{week.get_targets()}}</td>
                    <td>{{week.get_rec()}}</td>
                    <td>{{week.get_rec_yds()}}</td>
                    <td>{{week.get_rec_td()}}</td>
                    <td>{{week.get_rec_long()}}</td>
                    <td>{{week.get_fumbles_lost()}}</td>
                    <td>{{week.get_two_point_conv()}}</td>
                    <td>{{week.get_total_ret_td()}}</td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}
        
        {% if kicker %}
        <header>
            <h1>Player Stats for {{kicker}}</h1>
        </header>
        <img class="img" src={{photo}}>
        <table>
            <tr>
                <th>Week</th>
                <th>Standard Score</th>
                <th>Team</th>
                <th>Opponent</th>
                <th>FGA</th>
                <th>FGM</th>
                <th>XPA</th>
                <th>XPM</th>
                <th>FGA (0-39 yards)</th>
                <th>FGM (0-39 yards)</th>
                <th>FGA (40-49 yards)</th>
                <th>FGM (40-49 yards)</th>
                <th>FGA (50+ yards)</th>
                <th>FGM (50+ yards)</th>
            </tr>
            {% for week in kickers_weeks: %}
                <tr>
                    <td>{{week.get_week()}}</td>
                    <td>{{week.week_standard_score()}}</td>
                    <td>{{week.get_Off_abbrev()}}</td>
                    <td>{{week.get_Def_abbrev()}}</td>
                    <td>{{week.get_fga()}}</td>
                    <td>{{week.get_fgm()}}</td>
                    <td>{{week.get_xpa()}}</td>
                    <td>{{week.get_xpm()}}</td>
                    <td>{{week.get_fga_0_39()}}</td>
                    <td>{{week.get_fgm_0_39()}}</td>
                    <td>{{week.get_fga_40_49()}}</td>
                    <td>{{week.get_fgm_40_49()}}</td>
                    <td>{{week.get_fga_50()}}</td>
                    <td>{{week.get_fgm_50()}}</td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}

        <br>
        <a href="/">Back to all players</a>
        <br>
    </body>
    <footer>
        {% include 'footer.html' %}
    </footer>
</html>